{%load static%}
<!DOCTYPE HTML>
<html>
<head>
    <title>Url-Shortener | Password required</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css' %}">
<body class="is-preload">
<div id="wrapper">
    <section id="main">
        <header>
            <h1>Url-Shortener</h1>
        </header>
        <hr />
        <h2>This URL is password protected</h2>
        <form method="POST">
            {%csrf_token%}
            <div class="fields">
                <div class="field">
                    <input type="text" name="password"  placeholder="Password" />
                </div>
            </div>
            <ul class="actions special">
                <li><button type="submit" name="password-btn">Go</button></li>
            </ul>
        </form>
        <hr />
        <footer>
            <ul class="icons">
                <li><a href="https://github.com/Python-Egypt/url_shorter" class="icon brands fa-github" data-content="Fork me on Github">Github</a></li>
            </ul>
        </footer>
    </section>
</div>
</body>
</html>