<!DOCTYPE html>
<html lang="en">

    <head>
{% load static %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Login &amp; Register Templates</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/form-elements.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static 'assets/ico/favicon.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'assets/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'assets/ico/apple-touch-icon-57-precomposed.png' %}">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>You Can <strong>Login &amp; Register</strong> Here </h1>
                            <div class="description">
                            	<p>
	                            	<br>
									<h1>Welcome</h1>
	                            	<br>
                            	</p>
                            </div>
                        </div>
                    </div>
					<div class="messages">
					{% include "parts/messages.html" %}
				    </div>
                    <div class="row">
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Login to our site</h3>
	                            		<p>Enter username and password to log on:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-lock"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form method="post" class="login-form">
									{% csrf_token%}
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-username">Username</label>
				                        	<input type="text" name="username" required placeholder="Username..." class="form-username form-control" id="form-username">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Password</label>
				                        	<input type="password" name="password" required placeholder="Password..." class="form-password form-control" id="form-password">
				                        </div>
										{% if loginrecaptcha %}
										<div class="g-recaptcha" data-sitekey="{{recaptcha_site_key}}"></div><br/>
										{%endif%}
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" name="rememberme" id="defaultCheck1">
											<label class="form-check-label" for="defaultCheck1">
											  Remember Me
											</label>
										  </div>
				                        <button type="submit" name="loginbtn" class="btn">Sign in!</button>
				                    </form>
			                    </div>
		                    </div>
		                
		                	
	                        
                        </div>
                        
                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>
                        	
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Sign up now</h3>
	                            		<p>Fill in the form below to get instant access:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="" method="post" class="registration-form">
									{%csrf_token %}
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-first-name">First name</label>
				                        	<input type="text" name="first_name" required placeholder="First name..." class="form-first-name form-control" id="form-first-name">
				                        </div>


				                        <div class="form-group">
				                        	<label class="sr-only" for="form-last-name">Last name</label>
				                        	<input type="text" name="last_name" required placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
				                        </div>

										<div class="form-group">
											<label class="sr-only" for="form-username">Username</label>
											<input type="text" name="username" required placeholder="Username..." class="form-email form-control" id="form-username">
										</div>

				                        <div class="form-group">
				                        	<label class="sr-only" for="form-email">Email</label>
				                        	<input type="text" name="email" required placeholder="Email..." class="form-email form-control" id="form-email">
				                        </div>



										<div class="form-group">
											<label class="sr-only" for="form-username">Username</label>
											<input type="password" name="password" required placeholder="Type Password..." class="form-password form-control" id="form-passwordd">
										</div>

										
										{% if signuprecaptcha %}
										<div class="g-recaptcha" data-sitekey="{{recaptcha_site_key}}"></div><br/>
										{%endif%}



				                        <button type="submit" name="signupbtn" class="btn">Sign me up!</button>
				                    </form>
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>

        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p><h3>I Just Use The Template</h3><br>Made by Anli Zaimi at <a href="http://azmind.com" target="_blank"><strong>AZMIND</strong></a> 
        					<h3>Have Fun <i class="fa fa-smile-o"></i></h3> </p>
        			</div>
        			
        		</div>
        	</div>
        </footer>

        <!-- Javascript -->
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
        <script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'assets/js/scripts.js' %}"></script>

    </body>

</html>